/node_modules
/public/hot
/public/storage
_*.css.map
_*.css
*.log
*.patch
/storage/*.key
/vendor
/.idea
!/.idea/scopes/
!/.idea/watcherTasks.xml
!/.idea/misc.xml
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
.env
composer.lock
package-lock.json
/public/mix-manifest.json